<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<main class="container">
    <h1 th:text="${title}" class="my-3 border-bottom"></h1>
    <a th:href="@{/form}">Agregar Producto</a>
    <div class="alert alert-danger" th:if="${param.error != null and #strings.length(param.error) > 0}"
         th:text="${param.error}"></div>
    <div class="alert alert-success" th:if="${param.success != null and #strings.length(param.success) > 0}"
         th:text="${param.success}"></div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Creación</th>
            <th>Categoría</th>
            <th>Editar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.createAt}"></td>
            <td th:text="${product.category.name}"></td>
            <td><a th:href="@{/form/} + ${product.id}">editar</a></td>
            <td><a th:href="@{/form-v2/} + ${product.id}">editar v2</a></td>
            <td><a th:href="@{/delete/} + ${product.id}" onclick="return confirm('¿Seguro que desea eliminar?')"
                   class="btn btn-sm btn-danger">eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>